[user]
    email = oskamathis@gmail.com
    name = oskamathis
    signingKey = 904C171C5149D68B
[core]
    quotepath = false
    pager = delta
[log]
    date = iso
[fetch]
    prune = true
[pull]
    rebase = false
[rebase]
    autostash = true
    abbreviateCommands = true
[pager]
    diff = diffnav
    show = diffnav
    branch = cat
[tag]
    sort = -v:refname
[commit]
    gpgsign = true
[ghq]
    root = ~/develop/ghq
[includeIf "gitdir:~/develop/ghq/github.com/oskamathis/"]
    path = ~/.gitconfig-personal
[includeIf "gitdir:~/dotfiles/"]
    path = ~/.gitconfig-personal

[interactive]
    diffFilter = delta --color-only
[delta]
    syntax-theme = TwoDark
    side-by-side = true
    line-numbers = true
    navigate = true
    dark = true

#[diff]
#    tool = vimdiff
#    algorithm = histogram
#[difftool]
#    prompt = false

[diff]
    tool = vscode
    algorithm = histogram
[difftool]
    prompt = false
[difftool "vscode"]
    cmd = '/Applications/Visual Studio Code.app/Contents/Resources/app/bin/code' --wait --diff \"$LOCAL\" \"$REMOTE\"

#[merge]
#    tool = vimdiff
#    conflictStyle = diff3
#[mergetool]
#    prompt = false
#    keepBackup = false

[merge]
    tool = vscode
    conflictStyle = diff3
[mergetool]
    prompt = false
    keepBackup = false
[mergetool "vscode"]
    # cmd = 'VSCodeのパス' \"$MERGED\"
    # 例：Macの場合
    cmd = '/Applications/Visual Studio Code.app/Contents/Resources/app/bin/code' \"$MERGED\"
    trustExitCode = false
